<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Mundo Peludo</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
</head>

<body id=app class="bg-sun text-forest">
    <header class="bg-forest text-sun font-semibold">
        <div class="flex items-center justify-around">
            <a href="../../index.html">
                <img class="h-20" src="../images/logo.png" alt="logo">
            </a>
            <a class="font-extrabold text-2xl" href="../../index.html">Mundo Peludo</a>
            <div class="text-left hidden md:flex md:text-right mt-3 md:mt-0">
                <a href="./contacto.html" class="mt-3 md:mx-3">Contacto</a>
                <a href="./farmacia.html" class="mt-3 md:mx-3">Farmacia</a>
                <a href="./jugueteria.html" class="mt-3 md:mx-3">Juguetes</a>
                <a href="./carrito.html" class="mt-3 md:mx-3"><img class="h-6 w-6" src="../images/carrito.png" alt="Carrito"></a>
            </div>
            <div @click="menuOpen = !menuOpen" id="menuButton" role="button"
                class="md:hidden flex flex-col gap-1 pointer w-20 relative items-center justify-center">
                <div class="h-1 w-8 rounded-sm bg-sun">
                </div>
                <div class="h-1 w-8 rounded-sm bg-sun">
                </div>
                <div class="h-1 w-8 rounded-sm bg-sun transform">
                </div>
            </div>
        </div>
        <template v-if="menuOpen">
            <div class="p-20 flex text-sun text-3xl flex-col gap-14 items-center bg-forest w-screen h-screen fixed top-0"
                gi>
                <button @click="menuOpen=false" class="relative top-1 left-48" type="button">X</button>
                <a href="./contacto.html">Contacto</a>
                <a href="./farmacia.html">Farmacia</a>
                <a href="./jugueteria.html">Juguetes</a>
                <a href="./carrito.html" class="mt-3 md:mx-3">Carrito</a>

            </div>
        </template>
    </header>

    <main class="container mx-auto px-10 py-20 flex flex-col items-center gap-8">


        <h1 class="text-4xl font-bold">Si tienes alguna pregunta, comentario o simplemente quieres saludar, ¡estamos aquí para ayudarte!</h1>

        <div class="flex md:flex-row flex-col justify-between gap-20 items-center">
            <form class="border font-sans w-full md:w-80 p-2 rounded-md border-forest flex flex-col items-center" action=""
                method="">

                <legend class="font-semibold">Datos</legend><br>
                <label for="nombre">Nombre:</label>
                <input class="rounded-sm" type="text" id="nombre" name="nombre" required><br>

                <label for="apellido">Apellido:</label>
                <input class="rounded-sm" type="text" id="apellido" name="apellido" required><br>

                <label for="telefono">Teléfono:</label>
                <input class="rounded-sm" type="tel" id="telefono" name="telefono" required><br>

                <label for="mascota">Mascota:</label>
                <select id="mascota" name="mascota">
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                    <option value="otro">Caballo</option>
                    <option value="otro">Conejo</option>
                    <option value="otro">Ave</option>
                    <option value="otro">Otro</option>
                </select><br>

                <label for="comentario">Comentario:</label><br>
                <textarea class="h-28 w-48 rounded-sm" id="comentario" name="comentario"></textarea><br>


                <button v-on:click.prevent="mostrarModal" id="btnenviar"
                    class="bg-forest text-white p-3 font-bold rounded-lg">Enviar
                </button>

            </form>
            <article class="text-center flex gap-3 flex-col">
                <h2 class="font-bold text-3xl "> Nuestra Ubicación</h2>
                <iframe class="font-sans  flex flex-col items-center rounded-lg "
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.1022395076698!2d-64.20285802358327!3d-31.411309096007376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432988145269a89%3A0xb96c029e26e0abd6!2sC.%20Paraguay%205%2C%20X5000%20C%C3%B3rdoba%2C%20Argentina!5e0!3m2!1ses-419!2sco!4v1700840406373!5m2!1ses-419!2sco"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>
        </div>
        <template v-if="verModal">
            <div class="absolute top-0 bg-black/50 h-screen w-screen">
                <div class="bg-sun relative top-1/2 left-1/2 rounded-lg w-96 p-10">
                    <p>Hola! Gracias por contactar con mundo peludo. Nos pondremos en contacto contigo muy
                        pronto
                        para brindarte toda la información que necesitas. ¡Gracias por tu interés!</p>
                    <button @click="verModal=false" class="bg-forest text-white p-3 font-bold rounded-lg">OK</button>
                </div>
            </div>
        </template>
    </main>

    <footer class="text-center bg-forest text-sun">
        <p>MindHub - Cohort FS052 JAVA - BitBros</p>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../../tailwind.config.extension.js"></script>
    <script type="module" src="../../tailwind.config.js"></script>
    <script src="../../contacto.js"></script>

</body>

</html>