<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia - Mundo Peludo</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
</head>

<body class="bg-sun text-forest">
    <div id="app">
        <header class="bg-forest text-sun font-semibold">
            <div class="flex items-center justify-around">
                <a href="../../index.html">
                    <img class="h-20" src="../images/logo.png" alt="logo">
                </a>
                <a class="font-extrabold text-2xl" href="../../index.html">Mundo Peludo</a>


                <div class="text-left hidden md:block md:text-right mt-3 md:mt-0">
                    <a href="./contacto.html" class="mt-3 md:mx-3">Contacto</a>
                    <a href="./farmacia.html" class="mt-3 md:mx-3">Farmacia</a>
                    <a href="./jugueteria.html" class="mt-3 md:mx-3">Juguetes</a>
                </div>

                <div @click="menuOpen = !menuOpen" id="menuButton" role="button"
                    class="md:hidden flex flex-col gap-1 pointer w-20 relative items-center justify-center">
                    <div class="h-1 w-8 rounded-sm bg-sun">
                    </div>
                    <div class="h-1 w-8 rounded-sm bg-sun">
                    </div>
                    <div class="h-1 w-8 rounded-sm bg-sun transform">
                    </div>
                </div>
            </div>
            <template v-if="menuOpen">
                <div
                    class="p-20 flex text-sun text-3xl flex-col gap-14 items-center bg-forest w-screen h-screen fixed top-0">
                    <button @click="menuOpen=false" class="relative top-1 left-48" type="button">X</button>
                    <a href="./contacto.html">Contacto</a>
                    <a href="./farmacia.html">Farmacia</a>
                    <a href="./jugueteria.html">Juguetes</a>
                </div>
            </template>
        </header>
        
        <main class="container mx-auto py-3  flex flex-col items-center gap-8 min-h-[90vh]">
            <div>
                <img class="h-[50vh] min-w-[80vw] rounded-md " src="../images/bannerfarmacia.png" alt="">
            </div>
            <div
                class="bg-forest flex border-[2px] border-black w-[450px] h-[50px] justify-center items-center rounded-md">
                <div>
                    <input class=" rounded-md w-[30vh] text-center" type="text" id="buscador" placeholder="Buscar..."
                        v-on:input="filtrarPorNombre">
                </div>
                <div>
                    <select class="w-[15vh] mx-5 rounded-md" name="" id="select" v-on:change="select">
                        <option value="">all</option>
                        <option value="menor">Precio de menor a mayor</option>
                        <option value="mayor">Precio de mayor a menor</option>
                        <option value="OrdenAlfabetico">Orden alfabético</option>
                    </select>
                </div>
            </div>

            <div class="flex flex-wrap mt-6 gap-6" id="contenedor">
                <template v-if="filtrados.length > 0" v-for="farmaco of filtrados">
                    <div class=" flex flex-col  bg-white max-w-sm rounded-lg overflow-hidden shadow-lg mx-auto"
                        id="card-1">
                        <img class="h-2/3 w-full object-contain flex self-center" v-bind:src="farmaco.imagen"
                            alt="producto" />
                        <div class="px-6 py-4">
                            <h3 class="font-bold text-xl mb-2 leading-normal">{{farmaco.producto}}</h3>
                            <h4>Precio: ${{farmaco.precio}}</h4>
                            <h5>Disponibles: {{farmaco.disponibles}}</h5>
                            <button type="button">Detalles</button>
                        </div>
                    </div>
                </template>
            </div>
        </main>


        <footer class="text-center bg-forest text-sun">
            <p>MindHub - Cohort FS052 JAVA - BitBros</p>
        </footer>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="../../tailwind.config.extension.js"></script>
    <script type="module" src="../../tailwind.config.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../module/farmacia.js"></script>
</body>

</html>